<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Travela - Form page</title>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>                                                                                             ..ript>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>\
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<header>
	<nav>
		<img src="img/log1o.png" alt="Travela" class="logo">
	</nav>
	</header>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm">
			</div>
			
			<div class="col-sm-8">
				<h1>Add new tour</h1>
				
				<form action="#" th:action="@{/processForm}" th:object="${tour}" method="post">
				
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}">
					</div>
					
					
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{tourDetails.id}">
					</div>
					
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{tourDetails.country}">
					</div>
					
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{tourDetails.description}">
					</div>	
				
					<div class="form-group">
						<label>Name</label>
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
						<input type="text" class="form-control" th:field="*{name}">
					</div>
					
					<div class="form-group">
						<label>Code</label>
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
						<input type="text" class="form-control" th:field="*{code}">
						<small class="form-text text-muted">Expected format: LL-DDL where L-letter, D-digit</small>
					</div>
					
					<div class="form-group">
						<label>Continent</label>
						<select name="continent" class="form-control">
							<option th:each="continent : ${T(com.sebastianwrobel.domain.Tour.Continent).values()}"
									th:value="${continent}" th:text="${continent}"></option>
						</select>
					</div>
					
					<div class="form-group">
						<label>Start date</label>
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
						<input type="date" class="form-control" th:field="*{date}">
					</div>
					
					<div class="form-group">
						<label>Tour duration</label>
						<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>
						<input type="number" class="form-control" th:field="*{duration}">
					</div>
					
					<div class="form-group">
						<input type="checkbox" th:field="*{allInclusive}">
						<label>All Inclusive</label>
					</div>
					
					<div class="form-row">
						<div class="col">
							<input class="btn btn-success" type="submit" value="Submit">
						</div>
						<div class="col">			
							<a th:href="@{/showOffer}" class="btn btn-warning float-right">Back</a>
						</div>
					</div>
				</form>
			</div>
			
			<div class="col-sm">
			</div>
		</div>
	</div>
</body>
</html>