<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Travela - Tour details page</title>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<header>
	<nav>
		<img src="img/log1o.png" alt="Travela" class="logo">
	</nav>
	</header>
	<br>
	<div class="container">
		<div class="row">
			<h1 th:text="${tour.name} + ' details'"></h1>
		</div>
		
		<div class="row">
			<label>Country</label>
			<input type="text" class="form-control" th:field="${tour.tourDetails.country}" readonly>
		</div>
		
		<div class="row">
			<label>Tour description</label>
			<textarea class="form-control" rows="20" th:field="${tour.tourDetails.description}" readonly></textarea>
		</div>
		
		<div class="row" th:if="${tour.comments.empty}">
			<h2>This tour has no comments</h2>
		</div>
		
		<div class="row">
			<div th:if="${!tour.comments.empty}">
				<h2>Comment</h2>
				
				<ul class="list-group" th:each="comment : ${tour.comments}">
					<li class="list-group-item" th:text="${comment.content}"></li>
				</ul>
			</div>
		</div>
		
		<div class="row">
			<a th:href="@{/showOffer}" class="btn btn-warning">Back</a>
		</div>
	</div>
</body>
</html>